.gallery {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 24px;
    width: 1440px;
    padding: 24px 156px 24px 156px;
}

.gallery-item {
    width: 360px;
    height: 200px;
    overflow: hidden;
    object-fit: cover;
}

/* .gallery-item:hover {
    width: 376px;
    height: 208px;
} */

.gallery-link {}

.gallery-image {
    display: block;
    width: 360px;
    height: 200px;
}

/* .gallery-image:hover {
    display: block;
    width: 376px;
    height: 208px;
} */